@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main class="app-main">
    <div class="app-container">
        <article class="content">
            @Body
        </article>
    </div>
</main>
