<nav class="top-nav">
    <div class="nav-inner">
        <div class="brand">
            <a class="navbar-brand" href="/">RewardsAndRecognitionBlazorApp</a>
        </div>

        <div class="nav-links">
            <NavLink class="nav-link" href="/users" Match="NavLinkMatch.Prefix">Users</NavLink>
            <NavLink class="nav-link" href="/teams" Match="NavLinkMatch.Prefix">Teams</NavLink>
            <NavLink class="nav-link" href="/categories" Match="NavLinkMatch.Prefix">Categories</NavLink>
            <NavLink class="nav-link" href="/yearquarter" Match="NavLinkMatch.Prefix">Year Quarter</NavLink>
            <NavLink class="nav-link" href="/nominations" Match="NavLinkMatch.Prefix">Nominations</NavLink>
        </div>
    </div>
</nav>
