@page "/logout"
@layout EmptyLayout
@using Microsoft.AspNetCore.Components
@using RewardsAndRecognitionBlazorApp.Shared

<h1>Log out</h1>

@if (!isUserLoggedIn)
{
    <div class="alert alert-warning">
        <p>You are not currently logged in.</p>
        <a href="/account/login" class="btn btn-primary">Go to Login</a>
    </div>
}
else if (isProcessing)
{
    <p>Logging you out...</p>
}
else
{
    @if (!hasLoggedOut)
    {
        <!-- Similar to MVC: show logout button -->
        <button class="btn btn-link text-dark" @onclick="OnLogoutClicked">
            Click here to Logout
        </button>
    }
    else
    {
        <!-- After logout -->
        <p>You have successfully logged out of the application.</p>
        <button class="btn btn-primary" @onclick="GoHome">Go to Home</button>
    }
}
